/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  font-family: var(--main-font);
  font-variation-settings: "wght" 400;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  font-family: var(--accent-font), monospace;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  color: currentColor;
  border: 2px solid currentColor;
  background-color: var(--bg-color);
  margin-block-start: 98px;
  margin-block-end: 104px;
  max-inline-size: 700px;
}

.logo {
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title {
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  padding-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 11px;
  padding-inline-start: 20px;
}

.button {
  background-color: transparent;
  border: none;
} 

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  line-height: normal;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -12px;
  animation: moveX 0.5s ease-in-out alternate infinite;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  block-size: 2px;
  inline-size: 100%;
  inset-inline-start: -1px;
  background-color: currentColor;
  opacity: 0.6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease ;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  max-inline-size: 700px;
  margin: auto;
}

.main__article-list {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.article {
  background-color: var(--bg-color);
  border: 2px solid currentColor;
}

.article__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--accent-font-weight);
  line-height: normal;
  padding: 3px 24px 3px 10px;
  
}

.article__text-conteiner {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.text-style {
  font-variation-settings: "wght" var(--main-font-weight);
  line-height: 117%;
}

.article__image-conteiner {
  position: relative;
}

.article__button-conteiner {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end ;
  margin: 0 25px 25px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 0;
  border: 2px solid transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: currentColor;
  transition: border-color 0.3s ease;
} 

.sparks {
  opacity: 0;
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  border: 2px solid currentColor;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  padding: 10px 17px;
}

.card__like-button:hover,
.save-button:hover {
  cursor: pointer;
}

.card__like-button:focus,
.save-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save-button:focus-visible {
  box-shadow: 2px 2px currentColor;
  transition: box-shadow 0.3s ease;
}

.button__text {
  display: block;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.label {
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: 11px;
  color: var(--main-color);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: normal;
  text-transform: lowercase;
  text-shadow: 0 0 3px var(--stroke-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

.label-transform {
  text-transform: uppercase;
}

@supports (text-stroke: 1px var(--stroke-color)) 
or (-webkit-text-stroke: 1px var(--stroke-color)) {

  .label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.footer {
  max-inline-size: 700px;
  margin: auto;
}

.save-button {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-items: center;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  margin: 54px auto 102px;
  padding: 15px 18px;
  border: 2px solid currentColor;
  background-color: var(--bg-color);
}

.footer__floppy-image {
  fill: var(--mix-blend-color);
  mix-blend-mode: difference;
  block-size: 29px;
  inline-size: 29px;
}

.anime::before {
  content: '';
  position: absolute;
  display: block;
  block-size: 100%;
  inline-size: 100%;
  inset: 0;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
} 

.anime:hover::before {
  transform: scale(1);
}

.dialog[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  padding: 32px 42px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.modal-text {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-text p {
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
} 

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.submit-button {
  position: relative;
  padding-block: 10px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.submit-button span {
  text-transform: uppercase;
}

.dialog__floppy-image {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
  fill: var(--main-color);
}

@media (width >= 696px) {

  .save-button {
    flex-direction: row;
  }

  .footer__floppy-image {
    block-size: 21px;
    inline-size: 21px;
  }

  .label {
    inset-inline-end: 25px;
  }
}

.filter-blur {
  filter: blur(7px);
}

.filter-grayscale {
  filter: grayscale(75%);
}

.filter-sepia {
  filter: sepia(75%);
}

.filter-saturate {
  filter: saturate(700%);
}

.filter-invert {
  filter: invert(190%);
}

.filter-contrast {
  filter: contrast(40%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.3turn);
}

.triple-filter {
  filter: invert(120%) hue-rotate(180deg) sepia(30%);
}