/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --bg-color: #fff;
    --bg-image: 
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px ),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px ),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --main-color: #000;
    --main-font: "Inter-Variable";
    --main-font-weight: 400;
    --accent-font: "PressStart2P-Regular";
    --accent-font-weight: 700;
    --btn-color: #000;
    --btn-color-disabled: #00000060;
    --stroke-color: #fff;
    --mix-blend-color: #fff;
    --heart-fill: #f00;
}